.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 630px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 630px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 37px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 37px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 320px;
  }
}