 .u-section-1 {
  background-image: url("images/pexels-photo-2078774.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 233px 346px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 107px 346px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 40px auto 60px 0;
  padding: 16px 51px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 232px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -41px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -226px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -208px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 656px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 106px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  text-align: justify;
  margin: 65px 1px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 1px;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 656px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-image-1 {
  height: 248px;
  margin: 22px 1px 0;
}

.u-section-2 .u-image-2 {
  height: 270px;
  width: 415px;
  margin: 55px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 268px;
    width: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-2 .u-image-1 {
    height: 147px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 196px;
    width: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-2 .u-image-1 {
    height: 253px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-2 .u-image-1 {
    height: 156px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 61px 365px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 0 -51px 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 165px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-bottom: -84px;
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-bottom: -36px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 714px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 624px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 425px;
  width: 425px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 703px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 291px;
  width: 291px;
  margin: 0 9px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 17px 54px 18px 53px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 580px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 335px;
    width: 335px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 235px;
    width: 235px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 320px;
    width: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 607px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -2px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 487px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 487px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 412px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-11 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-10 {
    font-size: 3.75rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 899px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 570px 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 645px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 10px;
}

.u-section-6 .u-image-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-6 .u-image-2 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 10px;
}

.u-section-6 .u-image-3 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-7 {
  margin: 21px 0 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 10px;
}

.u-section-6 .u-image-4 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 333px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 532px;
  }

  .u-section-6 .u-image-1 {
    height: 230px;
  }

  .u-section-6 .u-image-2 {
    height: 230px;
  }

  .u-section-6 .u-image-3 {
    height: 230px;
  }

  .u-section-6 .u-image-4 {
    height: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 301px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1630px;
  }

  .u-section-6 .u-image-1 {
    height: 394px;
  }

  .u-section-6 .u-image-2 {
    height: 394px;
  }

  .u-section-6 .u-image-3 {
    height: 394px;
  }

  .u-section-6 .u-image-4 {
    height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 121px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -147px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 683px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 683px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 683px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 683px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -390px;
  }

  .u-section-6 .u-image-1 {
    height: 420px;
  }

  .u-section-6 .u-image-2 {
    height: 420px;
  }

  .u-section-6 .u-image-3 {
    height: 420px;
  }

  .u-section-6 .u-image-4 {
    height: 420px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 740px;
}

.u-section-7 .u-gallery-1 {
  height: 648px;
  margin-top: 59px;
  margin-bottom: 33px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 14px 14px;
}

.u-section-7 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  left: 0;
  top: 0;
}

.u-section-7 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-8 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-9 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-10 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-10 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-10 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-11 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-11 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-11 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-12 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-12 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-12 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-13 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-13 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-13 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-14 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-14 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-14 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-15 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-15 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-15 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-16 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-16 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-16 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-17 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-17 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-17 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-18 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-18 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-18 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-19 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-19 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-19 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-20 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-20 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-20 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-21 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-21 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-21 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-22 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-22 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-22 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-23 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-23 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-23 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-24 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-24 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-24 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-25 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-slide-25 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-25 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-7 .u-gallery-1 {
    height: 534px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-7 .u-gallery-item-5 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1227px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2086px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1994px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 4921px;
  }

  .u-section-7 .u-gallery-1 {
    height: 4829px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 465px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 5px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 345px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 12px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 345px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-form-1 {
  height: 47px;
  margin: 20px 92px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 57px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    font-weight: normal;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-8 .u-form-1 {
    width: 567px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    width: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    width: 320px;
  }
}